// Font
@import url(https://fonts.googleapis.com/css2?family=DotGothic16&family=M+PLUS+1+Code&display=swap);

$ff: 'M PLUS 1 Code', sans-serif;

// Color
$primary: #333;
$base: #fafafa;
$black: #333;
$white: #fafafa;
$primary-shadow: rgba(#000, 0.2);
$accent: #7CB5EB;

// text
$text-default: #333;
$text-black: #333;
$text-white: #fafafa;
$text-shadow: rgba(#000, 0.7);