// Font
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;600;700&display=swap);

$ff: 'ヒラギノ明朝 ProN', '游明朝体', '游明朝', 'Yu Mincho', yumincho,
  'Noto Serif JP', sans-serif;

// Color
$primary: #000;
$base: #333;
$white: #fafafa;
$primary-shadow: rgba(#000, 0.2);
$accent: #7CB5EB;

// text
$text-default: #fafafa;
$text-black: #333;
$text-shadow: rgba(#000, 0.7);